/*---------- SECTION TOPO ----------*/

.topo, .dois, .tres, footer {
    padding: 5rem 15rem;
}

.topo, .mainnav, .topo div nav ul {
    display: flex;
}

.topo {
    background: url(images/desktop/image-hero.jpg) no-repeat;
    flex-direction: column;
    color: var(--White);
    height: 50rem;
}

.mainnav {
    justify-content: space-between;
    align-items: center;
}

.burger {
    display: none;
}

.topo a {
    color: var(--White);
    padding: 0 1rem;
}

.main-tittle {
    padding: 2rem;
    width: 55%;
    border: 1px solid var(--White);
}

.topo h1 {
    text-transform: uppercase;
    text-align: left;
    width: 90%;
    font-size: 6.5rem;
}

.mainnav nav ul li {
    position: relative;
}

.mainnav nav ul li:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.3s ease;
}
.mainnav nav ul li:hover::after {
    width: 100%;
    height: 1px;
    background-color: var(--White);
}

/*---------- SECTION DOIS ----------*/

.dois {
    display: flex;
    position: relative;
}

.dois div img {
    width: 120%;
}

.dois div {
    width: 50%;
}

.dois .textos {
    padding: 4rem;
    position: absolute;
    bottom: 5rem;
    right: 5rem;
}

.dois p {
    color: var(--VeryDarkGray);
    padding-right: 7rem;
}

.dois h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 4rem;
}

.dois div:last-child {
    background-color: var(--White);
}

/*---------- SECTION TRES ----------*/

.tres-topo {
    display: flex;
    justify-content: space-between;
}

.tres h2 {
    text-transform: uppercase;
    font-size: 3rem;
}

.tres a {
    color: var(--Black);
    letter-spacing: .25rem;
    text-transform: uppercase;
    border: 1px solid var(--Black);
    padding: .25rem 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem 1.5rem;
    
}

.grid-item {
    position: relative;
    cursor: pointer;
}

.grid-item h3 {
    color: var(--White);
    text-transform: uppercase;
    position: absolute;
    width: 50%;
    bottom: 5rem;
    left: 2rem;
    font-size: 2rem;

}

.grid-item img {
    width: 100%;
}

.see-all-mobile {
    display: grid;
    place-items: center;
    display: none;
}

.see-all-desktop {
    display: grid;
    place-items: center;
}

/*---------- FOOTER ----------*/

footer {
    background-color: var(--Black);
    padding: 3rem 15rem;
}

footer a {
    color: var(--White);
}

footer p {
    color: var(--DarkGray);
}

.logo-socials img {
    width: 120px;
}

.logo-socials, .menu-copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-socials a {
    padding: 0 .5rem;
}

.socials-desktop a i, .socials-mobile a i {
    font-size: 2rem;
}

.socials-mobile {
    display: none;
}

.menu-copy ul {
    display: flex;
}

.menu-copy ul li {
    padding: 0 1rem;
}

.menu-copy ul li:first-child {
    padding-left: 0;
}

@media (max-width: 1200px) {
    /*---------- SECTION TOPO ----------*/

    .topo h1 {
        font-size: 5rem;
    }

    /*---------- SECTION DOIS ----------*/

    .dois .textos {
        bottom: 2rem;

    }
  }

@media (max-width: 1024px) {
    body, html {
        font-size: 50%;
    }

    /*---------- SECTION TOPO ----------*/

    .topo, .dois, .tres footer {
        padding: 5rem 10rem;
    }

    .topo h1 {
        font-size: 4.0rem;
    }
  }

@media (max-width: 920px) {
    body, html {
        font-size: 45%;
    }

    /*---------- SECTION TOPO ----------*/

    .topo h1 {
        font-size: 3.5rem;
    }
  }

@media (max-width: 768px) {

    .topo, .dois, .tres, footer {
        padding: 5rem 5rem;
    }    

    /*---------- SECTION TOPO ----------*/

    .mainnav nav, .burger-menu {
        display: none;
    }

    .burger {
        display: block;
    }

    .burger-menu {
        position: absolute;
        top: 30vh;
        left: 0;
    }

    .burger-menu li {
        padding: 1.5rem 0;
    }

    .burger-menu a {
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        padding: 0 5rem;
        font-size: 4rem;
    }

    .topo-mobile {
        background: var(--Black);
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: 3;
        transition: .3s ease-in-out;
    
    }

    .topo h1 {
        font-size: 3.5rem;
    }

    .main-tittle, .main-tittle h1 {
        width: 100%;
    }

    .main-tittle {
        height: 20rem;
        margin-top: 5rem;
        display: flex;
        align-items: center;
    }

    /*---------- SECTION DOIS ----------*/

    .dois {
        flex-direction: column;
    }

    .dois div, .dois div img {
        width: 100%;
    }

    .dois .textos {
        position: static;
        text-align: center;
    }

    .dois p {
        padding: 0;
    }

    /*---------- FOOTER ----------*/

    .logo-socials, .menu-copy, .menu-copy ul {
        display: block;
        text-align: center;
    }

    .menu-copy ul li {
        padding: 1rem 0;
    }

    .socials-mobile {
        display: block;
        margin: 1rem 0;
    }

    .socials-mobile a {
        padding: 0 .5rem;
    }

    .socials-desktop {
        display: none;
    }
  }


  @media (max-width: 520px) {
    /*---------- SECTION TOPO ----------*/

    .mainnav img.logo {
        width: 120px;
        height: auto;
    }
    /*---------- SECTION TRES ----------*/

    .grid-container {
        grid-template-columns: 1fr;
    }

    .tres h2 {
        width: 100%;
        text-align: center;
    }

    .grid-item h3 {
        bottom: 3rem;
    }

    a.see-all-mobile {
        display: block;
        text-align: center;
        letter-spacing: 1rem;
        padding: 2rem 2rem;
        width: 50%;
        margin: 3rem auto;
    }

    .see-all-desktop {
        display: none;
    }

}